/*样式初始化*/

body,
div,
h1,
ul,
ol,
li,
p,
a,
img,
header,
section,
input,
h2,
h3,
h4,
button {
    padding: 0;
    margin: 0;
}

a {
     text-decoration: none;
    /* 去掉下划线 */
    color: #000;
}

input,
button {
    border: 0;
    outline: 0;
}

img {
    display: block;
    /* 图片转换为块元素 */
}

ul,
li {
    list-style: none;
    /* 去掉前面黑点 */
}
/* 群选择器 h1~h5 */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 12px;
    font-weight: normal;
    /* 字体不加粗 */
}


html {
    font-size: 50px
}

@media screen and (min-width: 320px) {
    html {
        font-size: 42.67px
    }
}

/* 媒体查询 css3 */
/* 响应式布局 */

@media screen and (min-width: 360px) {
    html {
        font-size: 48px
    }
}

@media screen and (min-width: 375px) {
    html {
        font-size: 50px
    }
}

@media screen and (min-width: 414px) {
    html {
        font-size: 55.2px
    }
}

@media screen and (min-width: 480px) {
    html {
        font-size: 64px
    }
}

@media screen and (min-width: 640px) {
    html {
        font-size: 85.33px
    }
}

@media screen and (min-width: 750px) {
    html {
        font-size: 100px;
    }
}

/*750*1334px:
px
rem  7.5rem   13.34rem
100px = 1 rem*/

/* rem 相对单位 作用：等比例放大缩小 */

body {
    font: 12px/1.5 "微软雅黑";
    box-sizing: border-box;
    background-color: #efeef4
}

/* ****组件（功能一样）**** */
.mb30{
    margin-bottom: 0.3rem;
}
.bor-b{
    border-bottom: 0.01rem solid #dadada;
}

/* 清除浮动 */
.clearfix:after,
.clearfix:before {
    content: ".";
    display: block;
    height: 0;
    line-height: 0;
    font-size: 0;
    overflow: hidden;
    visibility: hidden;
    clear: both
}

/* 微信横条 */


.item{
    
    padding: 0 0.3rem;

    border: 0.01rem solid #dadada;

    font-size: 0.32rem;
    background: #fff;
}

.item-list {
    height: 0.88rem;
    line-height: 0.88rem;
}

.we-icon{ 
    float: left;
   
    width: 0.44rem;
    height: 0.44rem;

    margin-top: 0.2rem;
    margin-right: 0.35rem;

    background: url(../img/icon.jpg.png) no-repeat;
    background-size: 400%;

}
.we-icon2{
    background-position: -0.4rem 0;
}
.we-icon3 {
    background-position: -0.9rem 0;
}
.we-icon4 {
    background-position: -1.36rem 0;
}
.we-icon5 {
    background-position: -0.9rem 0;
}
.we-icon6 {
    background-position: -1.36rem 0;
}
.we-icon7 {
    background-position: -0.4rem -0.48rem;
}
.we-icon8 {
    background-position: -0.9rem -0.48rem;

}
.we-icon9 {
    background-position: 0rem -0.5;
}

/* 微信导航栏 */
.foot{
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 0.98rem;
    border-top:0.01rem solid #dadada;
    background-color: #fff

}
.foot li{
    float: left;
    width: 25%;
    text-align: center;

}
.foot div {
    height:0.62rem;
    padding-left:0.7rem;
}
.foot p{
       float: left;
       width: 100%;
       font-size: 0.4rem;
       line-height: 0.9rem
}
.foot .active{
    color:#31ad37;
}
.footbox{
    height: 2rem
}